/*
#337ab7 = blue
#6da8b6 = lighterblue
#5cc265 = green
#fdcc72 = orange
*/

body {
  font-family: "Monaco", "Open Sans";
}

a {
  color: #6da8b6;
}
a:hover {
  color: #337ab7;
}
header {
  text-align: center;
}
h3.post-title {
  font-size: 1.4em;
}
a#logo > img {
  width: 135px;
  height: 135px;
}
#follow-icons {
  margin: 0;
}
#follow-icons > li {
  display: inline-block;
  list-style: none;
  margin-right: 5px;
}
#follow-icons a {
  line-height: normal;
  color: #6da8b6;
}
#follow-icons a:hover {
  color: #337ab7;
}
.taglist, .separator {
  font-size: 75%;
}
.taglist a {
  background-color: #6da8b6;
}
.taglist a:hover {
  color: #ffffff;
  background-color: #337ab7;
  text-decoration: none;
}
.rotate a {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  display:block;
}
.rotate a:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
code {
  font-size: 1.0em;
}
pre > code {
  font-size: 1.4em;
}
nav.pagination {
  text-align: center;
}